:root
{
    --sec-color:#fff;
    --main-color:#1b252f;
    --blue:#b11e22;
}

body{
    background:var(--sec-color);
    margin: 0;
    padding: 0;
}
body a
{
    text-decoration: none;
    color:#fff;
}
body input
{
    border:none;
}
nav {
    background: var(--main-color);
    display: flex;
    color: #fff;
    padding: 1.5% 0% 0% 1.5%;
    font-size: 1.5rem;
    line-height: 2;
}
#siteName, #search, #login, #shart{
    margin-right: 12%;
}
#search {
    display: flex;
    width: 35%;
}

#textsearc{
    padding: 1% 43% 1% 3%;
}
input[type="button"] {
    background: var(--blue);
    color: #fff;
    padding: 3% 5% 3% 3%;
    cursor: pointer;
    font-family: "icons";
    border: none;
    height: 3em;
    width: 13%;
    margin: 0%;
}
div#shart {
    cursor: pointer;
    height: 40px;
    font-family: "icons";
    padding: 0% 1% 0.5% 1%;
}
div#shart:hover {
    background: var(--sec-color);
    color: var(--blue);
    padding: 0% 1% 0.5% 1%;
}
.section {
    text-align: left;
    width: 90%;
    margin: 5% auto;
}
.section p {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 9%;
}
.itemsCat {
    display: flex;
}
.items {
    padding: 3%;
    line-height: 1.5;
    background: #fff;
    overflow-wrap: break-word;
    width: 21%;
    text-align: center;
    margin: 0% 2% 1% 2%;
    height: 100%;
}
.items:hover {
    border-color: #e1e1e1;
    box-shadow: 0 1px 14px 1px rgba(0,0,0,0.13);
}
.articles p {
    margin-left: 3% !important;
}

/*---items begins---*/
#products {
    display: flex;
    width: 90%;
    margin: 2% 5% 0% 5%;
    flex-wrap: wrap;
}
.item {
    
    padding: 1%;
    line-height: 1.5;
    background: #fff;
    overflow-wrap: break-word;
    width: 21%;
    height: 100%;
    text-align: center;
    margin: 0% 1% 1% 1%;
}
.item:hover {
    border-color: #e1e1e1;
    box-shadow: 0 1px 14px 1px rgba(0,0,0,0.13);
}
.item img {
    max-height: 100%;
    max-width: 100%;
}
.item a, .items a {
    color: var(--main-color);
    font-weight: bold;
}
#price {
    color: var(--blue);
    font-weight: bold;
}
.buyitems {
    
        border: 0.1rem solid var(--blue) !important;
        padding: 6%;
        color: var(--blue);
        background: none;
        cursor: pointer;
        font-family: "icons";
        border-radius: 100%;
    
}
.buyitems:hover {
    background: var(--blue);
    color: var(--sec-color);
}
.buyitem {
    
    border: 0.1rem solid var(--blue) !important;
    padding: 6%;
    color: var(--blue);
    background: none;
    cursor: pointer;
    

}
.buyitem:hover {
background: var(--blue);
color: var(--sec-color);
}
#product {
    background: white;
    margin: 5% 10% 10% 10%;
    line-height: 2;
    padding: 2%;
}
#itemTitle {
    font-weight: bold;
    font-size: 1.5rem;
}
#product img
{
    width:100%;
}
#itemTitle {
    font-weight: bold;
    font-size: 1.5rem;
}
div#itemPrice {
    color: var(--blue);
    font-weight: bold;
    font-size: 1.5rem;
}
.elemQuantity {
    border: .1rem solid var(--blue);
    margin-bottom: 3%;
    color: var(--blue);
    width: 90%;
}
#buyitem {
    background: var(--blue);
    border: none;
    padding: 2%;
    width: 100%;
    color: #fff;
    font-size: 20px;
}
/*---items ends---*/

/*login page*/
#loginForm,#SinginForm {
    background: var(--main-color);
    color: #fff;
    margin: 5%;
    padding: 2%;
}
section#loginForm, section#loginForm form,#SinginForm, #singinForm  {
    display: flex;
    flex-direction: column;
   
}
section#loginForm p,section#loginForm p {
    
    font-size: 1.5rem;
}
section#loginForm input,#singinForm input {
    width: 90%;
    padding: 1%;
    margin-bottom: 2%;
    
}

#submitLogin {
    border: 0.2rem solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    background: var(--main-color);
    cursor: pointer;
}
input#submitLogin:hover {
    border: 0.2rem solid var(--blue);
    background: var(--blue);
    font-weight: bold;
    color: var(--sec-color);
}
section#singinDirct a {
    color: var(--blue);
}
/**/
footer {
    background: var(--main-color);
    text-align: center;
    padding: 1%;
    color: #fff;
}